@font-face {
  font-family:'cursor-demo';
  src: url(/fonts/CursorGothic-Regular.woff2) format('woff2');
  font-display: swap;
  font-style: normal;
}
.cfont {
  font-family:'cursor-demo';
}
:root {
  --accent-color:#13120a;
  --text-color: #edecec;
  --card-color:#1b1912;
  --text-dim-color: #edecec;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:var(--accent-color);
  color: var(--text-color);
}

/* Nav-section */
.header {
  background-color: var(--card-color);
  width: 100%;
  position: fixed;
  /* top: 0;
  left: 0 */
}
.all-container {
  /* padding: 0 7vw; */
  /* margin: 90.4; */
  margin: auto;
  max-width: 1300px;
}
.brand-icon svg {
  width: 88px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  /* padding: 10px 80px 8px 80px; */
  /* margin: 10px 80px 8px 80px; */
  min-height: 52px;
  font-family:'cursor-demo';
}

header nav div {
  flex: 1;
}
header nav div ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 26px;
  justify-content: center;
}
header nav div ul {
  font-size: 14px;
}
.nav-buttons {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.btn { 
  border-radius: 15px;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-signin {
  background-color: var(--card-color);
  color: #cccbc7;
  border: 0.3px solid #5a584e;
  padding: 5px 10px;
}

/* .btn-signin:hover {
  background-color: #1a1a1a;
  border-color: #444444;
} */

.btn-download {
background-color: var(--text-color);
  color: var(--accent-color);
  border: 0.3px solid #5a584e;
  padding: 3px 8px;
}


/* ----Hero-Section----- */

.hero-section {
  font-size: 14px;
  margin-top: 160px;
}

.hero-section div {
  width: 100;
}
.h1-heading {
  max-width: 600px;
  margin-bottom: 25px;
  font-weight: 100;
  border: none;
}
#mac-download {
  background-color: var(--text-dim-color);
  color: #515151;
  border: 0.3px solid #515151;
  border-radius: 100px;
  padding: 12px 24px;
  font-size: 16px;
  margin-bottom: 60px;
  display: inline-flex;
}

#mac-download span {
  font-size: 14px;
  font-weight: 600;
  padding-inline-start: .25em;
  display: inline-flex;
}

.download-icon {
  width: 16px;
  height: 16px;
  margin-left: 2px;
}
.hero-section img {
  width: 100%;
  display: block;
  border-radius: 6px;
}


/*===== Brands===== */

/* dev-section trusted-section */
.dev-section {
  min-height: 250px;
}
.dev-section p {
  align-items: center;
  text-align: center;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 25px;
  margin-top: 70px;
}

/* trusted-brands trusted-icon-holder */
.trusted-brands {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  gap: 12px;
}


/* trusted-dev trusted-icon */
.trusted-dev {
  background-color: var(--card-color);
  border: 1px solid #25241e;
  border-radius: 6px;
  height: 100px; /* Gives boxes a uniform height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.trusted-dev img {
  height: 70%;
  width: auto;
}


/*-------- card-section --------*/

/* .about-cursor {
  background-color: var(--card-color);
} */
.about-card {
  width: 100%;
  background-color: var(--card-color);
  padding: 20px;
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  border-radius: 6px;
}

.about-card-description {
  font-size: 22px;
  max-width: 415px;
}
.about-desc-secondary-text {
  color: #999896;
  

}
.about-card img {
  width: 840px;
  border-radius: 6px;
}
.learn-btn {
  color: #f54e00;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
.row-reverse {
  flex-direction: row-reverse;
}

/* ===Testimonials=== */


.testimonials-section {
  /* border: 1px dashed red; */
  background-color: var(--accent-color);
  /* padding: 100px 0; */
  /* margin: 40px 80px 8px 80px; */
  /* width: 100%; */
  /* border: 1px dashed red; */
}

.section-title {
  display: flex;
  /* border: 1px dashed blue; */
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 100;
  margin-top: 120px;
  margin-bottom: 45px;
}
.t-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 8px; /* The "line" effect between cards */
  background-color: var(--accent-color); /* This color peaks through the gap as a border */
  margin-top: 20px;
  /* width: 100%; */
  /* border: 1px solid red; */
  /* padding: 40px; */
}
.t-card {
  background-color: #1b1912; 
  padding: 18px 17px 17px 17px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  height: 248px;
  border-radius: 6px;
  /* width: 100%; */
}
.quote {
  font-size: 15px;
  /* line-height: 1.6; */
  color: #c7c1c1;
  margin-bottom: 40px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px; /* Slightly rounded like image_1b1542.jpg */
}
.name {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #d5d2d2;
}

.role {
  font-size: 12px;
  color: #888888;
  display: grid;
}

/* ------Stay on the frontier Section------- */

.frontier-section {
  margin-top: 160px;
  background-color: var(--accent-color);
  width: 100%;
}

.section-title-small {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 22px;
  color: var(--text-color);
}

.frontier-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px; 
}

.frontier-card {
  background-color: var(--card-color);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  /* border: 1px solid red; */
}

.card-text {
  padding: 14px;
}

.card-text h3 {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 2px;
  /* border: 1px solid red; */
}

.card-text p {
  font-size: 14px;
  color: #888888;
  line-height: 1.5;
  margin-top: 2px;
  margin-bottom: 16px;
}

.orange-link {
  color: #f54e00;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 10px;
}

.card-visual {
  padding-bottom: 0px 4px 4px 4px;
  border-radius: 6px;
  background-color: #1b1912; 
  display: flex;
  justify-content: center;

}

.card-visual img {
  width: 100%;
  padding: 10px;

}

/* ---styling for the 3rd card photo-- */
.enterprise-img img {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  
}

/*=== Frontier css section ====*/


.changelog-section {
  width: 100%;
  background-color: var(--accent-color);
  margin-top: 120px;
  margin-bottom: 100px;
}

.changelog-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
  /* border: 1px dashed orchid; */
}

.changelog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-bottom: 20px;
}

.changelog-card {
  background-color: var(--card-color);
  padding: 15px 17px 20px 17px;
  border-radius: 4px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
  /* border: 1px solid orange; */
}

.version-badge {
  font-size: 12px;
  border-radius: 100px;
  color: #888888;
  padding: 2px 8px;
  border: 1px solid #7d786d;
}

.card-date {
  font-size: 14px;
  color: #888888;
}

.card-heading {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  /* border: 2px dashed yellow; */
}

.changelog-footer-link {
  color: #f54e00;
  text-decoration: none;
  font-size: 14px;
}




/* Team-focused */

.team-section {
  background-color: var(--accent-color);
  /* border: 1px solid red; */
  width: 100%;
}

.team-content p {
  font-size: 22px;
  font-weight: 100;
  line-height: 1.2;
  color: #d5d2d2;
  margin-bottom: 22px;
}

.join-btn {
  color: #f54e00;
  text-decoration: none;
  font-size: 16px;
}

/* Highlight Section */
/* Highlight Section */

.highlights-section {
  padding: 70px;
  background-color: #1b1912;
  /* border: 1px solid red; */
}

.highlights-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2px; 
  
  max-width: 1100px;
  margin: 0 auto;
  /* border: 1px solid orange; */
}

.highlights-title {
  font-size: 14px;
  color: #edecec;
  /* border: 1px solid rebeccapurple; */
}

.highlights-content {
  display: flex;
  font-size: 12px;
  flex-direction: column;
  gap: 10px;
  max-width: 620px;
  /* border: 1px solid red; */
}

.highlight-card {
  background-color: #201e18;
  padding: 16px 14px 26px 14px; 
  border-radius: 6px;
  cursor: pointer;
  /* border: 1px dashed blue; */
}

.highlight-card h3 {
  font-size: 14px;
  color: #d5d2d2;
  margin-bottom: 4px;
}

.highlight-card p {
  font-size: 14px;
  color: #999894;
  margin-bottom: 24px;
}

.card-meta {
  font-size: 14px;
  color: #888888;
}
/*------ Download-cursor-section------- */


.cta-final-section {
padding: 100px 20px 100px 20px;  
  background-color: var(--accent-color);
  text-align: center;
}

.cta-heading {
  font-size: 70px;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 20px;
}

.btn-download-large {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  background-color: var(--text-dim-color);
  color: var(--accent-color);
  padding: 14px 20px;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.btn-download-large .download-icon {
  width: 18px;
  height: 18px;
}

/* =====Footer-section===== */

.site-footer {
  /* margin: 67px 20px 30px 20px; */
  background-color: var(--card-color);

  padding: 60px 80px 20px 120px;
  /* border: 1px solid red; */
  
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  margin-bottom: 60px;
  /* border: 1px solid rgb(18, 223, 196); */
}
.footer-column {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  
}

.footer-column h4 {
  color: #999894;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 10px;
}

.footer-column a {
  display: block;
  color: #d5d2d2;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 10px;
  /* border: 1px solid red; */
}


/*  footer bottom pill */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #888888;
  font-size: 12px;
  /* border: 1px solid red; */
  /* width: 100%; */
}

.legal-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.soc2-badge {
  display: flex;
  align-items: center;
  gap: 4px;
}

.soc2-badge svg {
  width: 14px;
  height: 14px;
}

/*=====  pill setting ==== */
/* .setting-pill {
  background: #8b7710;
  border: 1px solid #333333;
  color: #edecec;
  padding: 600px 16px;
  border-radius: 100px;
  font-size: 12px;
} */
/* pill buttons */

.footer-settings {
  display: flex;
  gap: 12px;
  align-items: center;
  /* border: 1px solid red; */
}

/* --- Theme Toggle Pill --- */
.theme-pill-container {
  background-color: #26241e; 
  border: 1px solid #26241e;
  padding: 4px;
  border-radius: 100px;
  display: flex;
  gap: 2px;
}

.pill-btn {
  background: transparent;
  border: none;
  color: #a2a1a1;    
  padding: 6px 12px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- Language Pill --- */

.language-pill {
  background-color: #26241e;
  border: 1px solid #26241e;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.globe-icon {
  font-size: 14px;
  background-color: #26241e;
}

.arrow {
  font-size: 20px;
  margin-top: -2px; /* Fine-tunes the arrow position */
}